A:link{color:#000099; text-decoration: none} A:visited{color:#666699; text-decoration: 
  none} A:hover{color:#FF3300;text-decoration: underline} A:active{color:#cccccc; 
  text-decoration: underline} P{font face="Arial"; font-size:"14px";line-height:125%} 
  td{font face="Arial, Helvetica"; font-size:"14px";line-height:125%}
